/*
 * VSU Shedule App | Version [build_version]
 * Build: [build_info]
 * Developer: @whoennrl
 * 
 * Site: https://whoennrl.ru
 */

.screen-with-header {
    display: block;
    width: 100%;
    height: 100%;
    flex: 1;
    user-select: none;
    -webkit-user-select: none;
}

.screen-with-header .header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-top: calc(var(--tg-safe-area-inset-top));
    height: calc(var(--padding-top) - 20px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(28, 28, 30, .5);
    z-index: 9999;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.screen-with-header .header .backButton {
    display: flex;
    flex-direction: row;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 16px;
    color: rgb(0, 122, 255);
    align-items: center;
    display: none;
    cursor: pointer;
}

.screen-with-header .header .backButton .icon {
    width: 25px;
    height: 25px;
    background: rgb(0, 122, 255);
    mask-image: url(./../imgs/chevron-left.png);
    mask-repeat: no-repeat;
    mask-size: 100%;
    mask-position: center;
}

.screen-with-header .header .title {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.screen-with-header .content {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-top: calc(var(--padding-top));
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    padding-bottom: var(--padding-bottom);
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

@media screen and (min-width: 600px) {
    .screen-with-header .header {
        width: 600px;
        left: calc(50% - 300px);
        right: calc(50% - 300px)
    }

    .screen-with-header .content {
        left: calc(50% - 300px);
        right: calc(50% - 300px)
    }
}

.screen-with-header .content .title {
    font-size: 18px;
    font-family: 600;
    font-family: 'Nunito', sans-serif;
}

.screen-with-header .content .text {
    font-size: 16px;
    font-family: 400;
    font-family: 'Nunito', sans-serif;
}

.screen-with-header .content .box {
    background: rgb(28, 28, 30);
    color: white;
    font-family: 'Nunito', sans-serif;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.screen-with-header .content .button {
    display: flex;
    height: 40px;
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 16px;
    flex-direction: row;
    gap: 10px;
    background: rgb(28, 28, 30);
    transition: 0.2s;
}

.screen-with-header .content .button:hover {
    background: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

.screen-with-header .content .button img {
    height: 30px;
    width: 30px;
}






.screen-with-header .content .select-info {
    background: rgb(28, 28, 30);
    outline: none;
    height: 50px;
    color: white;
    border: 0px;
    border-radius: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.screen-with-header .content .select-info span {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.screen-with-header .content .select-info:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(./../imgs/chevron-bottom.png) no-repeat;
    background-size: 100%;
    opacity: 0.5;
}

.screen-with-header .content .select-box {
    display: none;
}

.screen-with-header .content .select-box.opened {
    display: block;
    position: relative;
    max-height: 150px;
    overflow-y: auto;
    background: rgb(28, 28, 30);
    padding: 20px;
    border-radius: 30px;
}

.screen-with-header .content .select-box.opened .select-option {
    height: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.screen-with-header .content .select-box.opened .select-option.selected:after {
    content: "";
    width: 20px;
    height: 20px;
    background: rgb(0, 122, 255);
    mask-image: url(./../imgs/checkmark.png);
    mask-repeat: no-repeat;
    mask-size: 100%;

}

.screen-with-header .content .select-box.opened .select-option.disabled {
    color: rgba(255, 255, 255, 0.5);
}

.screen-with-header .content .select-box.opened .select-option:last-child {
    border-bottom: 0px;
}


.screen[screen-id='admin'] .allUsers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.screen[screen-id='admin'] .allUsers .user {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 30px;
    background: rgb(28, 28, 30);
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    color: rgba(255, 255, 255, .5)
}

.screen[screen-id='admin'] .allUsers .name {
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.screen[screen-id='admin'] .allUsers .button-mini {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
    height: 20px;
    border-radius: 100px;
    color: white;
}

.screen[screen-id='admin'] .allUsers .button-mini.ban {
    background: rgb(255, 56, 60);
}

.screen[screen-id='admin'] .allUsers .button-mini.unban {
    background: rgb(52, 199, 89);
}

.screen[screen-id='admin'] .usersBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.screen[screen-id='admin'] .usersBox input {
    background: rgb(28, 28, 30);
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: white;
    outline: none;
    border: 0;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 200px;
}










/* Premium */
.screen[screen-id='premium'] .content .premium-logo {
    width: 60px;
    height: 60px;
    background: radial-gradient(at 100% 3%, hsla(340, 100%, 50%, 1) 0px, transparent 50%),
        radial-gradient(at 6% 0%, hsla(0, 87%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 86%, hsla(178, 100%, 50%, 1) 0px, transparent 50%),
        radial-gradient(at 100% 100%, hsla(26, 100%, 50%, 1) 0px, transparent 50%),
        radial-gradient(at 60% 86%, hsla(287, 100%, 50%, 1) 0px, transparent 50%),
        radial-gradient(at 74% 32%, hsla(197, 100%, 50%, 1) 0px, transparent 50%),
        radial-gradient(at 28% 38%, hsla(334, 0%, 100%, 1) 0px, transparent 50%);
    mask-image: url(./../imgs/premium-user.png);
    mask-repeat: no-repeat;
    mask-size: 100%;

}

.screen[screen-id='premium'] .content .centerBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.screen[screen-id='premium'] .content .centerBox .pretitle {
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.screen[screen-id='premium'] .content .centerBox .title {
    font-size: 24px;
    font-weight: 800;
}
.screen[screen-id='premium'] .content .premiumItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.screen[screen-id='premium'] .content .premiumItems .item {
    background: rgb(28, 28, 30);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.screen[screen-id='premium'] .content .premiumItems .item .box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: transparent;
    padding: 0px;
    align-items: flex-start;
}
.screen[screen-id='premium'] .content .premiumItems .item .box .name {
    font-size: 16px;
    font-weight: 600;
}
.screen[screen-id='premium'] .content .premiumItems .item .box .description {
    font-size: 12px;
    font-weight: 400;
    opacity: 0.5;
}