/*
 * ВГУ Расписание | Version [build_version]
 * Build: [build_info]
 * Developer: @whoennrl
 * 
 * Site: https://whoennrl.ru
 */

.screen[screen-id='homeboard'] {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex: 1;
    user-select: none;
    -webkit-user-select: none;
}
.screen[screen-id='homeboard'] .bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: linear-gradient(0deg, #000, rgba(0, 0, 0, 0));
    bottom: calc(var(--padding-bottom));
    left: 0px;
}
.screen[screen-id='homeboard'] .bottom .bottomMenu {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 5px;
    background: rgba(255, 255, 255, .1);
    border-radius: 1000px;
    height: 60px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.screen[screen-id='homeboard'] {
    gap: 10px;
}
.screen[screen-id='homeboard'] .screen-part {
    display: flex;
    overflow: auto;
    flex-direction: column;
    flex: 1;
    height: 100%;
}


.screen[screen-id='homeboard'] .bottom .bottomMenu .item {
    width: 90px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0);
    border-radius: 1000px;
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    font-weight: 500;
    --color: rgb(255, 255, 255);
    color: var(--color);
    transition: 0.2s;
}
.screen[screen-id='homeboard'] .bottom .bottomMenu .item:hover {
    background: rgba(255, 255, 255, .05);
    cursor: pointer;
}
.screen[screen-id='homeboard'] .bottom .bottomMenu .item * {
    padding: 0;
    margin: 0;
}

.screen[screen-id='homeboard'] .bottom .bottomMenu .item[part='home'] .icon {
    mask-image: url(./../imgs/home.png);
    mask-size: 100%;
    mask-position: center;
    width: 30px;
    height: 30px;
    background: var(--color);
    transition: 0.2s;
}
.screen[screen-id='homeboard'] .bottom .bottomMenu .item[part='menu'] .icon {
    mask-image: url(./../imgs/menu.png);
    mask-size: 100%;
    mask-position: center;
    width: 30px;
    height: 30px;
    background: var(--color);
    transition: 0.2s;
}
.screen[screen-id='homeboard'] .bottom .bottomMenu .item.selected {
    --color: rgb(0, 122, 255);
    background: rgba(255, 255, 255, .1);
    transition: 0.2s;
}
.screen[screen-id='homeboard'] .screen-part[part-id='home'] .daySelector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 40px;
}
.screen[screen-id='homeboard'] .screen-part[part-id='home'] .daySelector .item {
    background: #1C1C1E;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 42px;
    border-radius: 1000px;
}
.screen[screen-id='homeboard'] .screen-part[part-id='home'] .daySelector .item:hover {
    background: rgba(255, 255, 255, .2);
    cursor: pointer;
}
.screen[screen-id='homeboard'] .screen-part[part-id='home'] .daySelector .item.selected {
    background: rgb(0, 122, 255);
}
.screen[screen-id='homeboard'] .screen-part[part-id='home'] .title {
    font-size: 36px;
    font-weight: 800;
    line-height: 50px;
    font-family: 'Nunito', sans-serif;
}
.screen[screen-id='homeboard'] .screen-part[part-id='home'] .subtitle {
    font-size: 15px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    line-height: 20px;
    margin-bottom: 10px;
}
.screen[screen-id='homeboard'] .screen-part[part-id='home'] .sheduleBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
    overflow-y: auto;

    padding-bottom: calc(10px + 50px + 10px + 10px);
}
.screen[screen-id='homeboard'] .screen-part[part-id='home'] .shedule-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: #1C1C1E;
    border-radius: 30px;
    align-items: stretch;
    justify-content: stretch;
    padding: 20px;
}
.screen[screen-id='homeboard'] .screen-part[part-id='home'] .shedule-box .line {
    height: 100%;
    width: 5px;
    border-radius: 100px;
}
.screen[screen-id='homeboard'] .screen-part[part-id='home'] .shedule-box .block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
    flex: 1;
}
.screen[screen-id='homeboard'] .screen-part[part-id='home'] .shedule-box .block .top {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    height: 15px;
    line-height: 15px;
}
.screen[screen-id='homeboard'] .screen-part[part-id='home'] .shedule-box .block .middle {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: top;
}
.screen[screen-id='homeboard'] .screen-part[part-id='home'] .shedule-box .block .middle .lesson .name {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 18px;
}
.screen[screen-id='homeboard'] .screen-part[part-id='home'] .shedule-box .block .middle .lesson .classroom {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 14px;
    opacity: 0.5;
    letter-spacing: 0.2px;
}
.screen[screen-id='homeboard'] .screen-part[part-id='home'] .shedule-box .block .middle .time {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.screen[screen-id='homeboard'] .screen-part[part-id='home'] .shedule-box .block .middle .time .start {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    letter-spacing: 0.2px;
    font-size: 20px;
}
.screen[screen-id='homeboard'] .screen-part[part-id='home'] .shedule-box .block .middle .time .end {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    letter-spacing: 0.2px;
    font-size: 14px;
    opacity: 0.5;
}
.screen[screen-id='homeboard'] .screen-part[part-id='home'] .shedule-box .block .bottom-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    letter-spacing: 0.2px;
    font-size: 16px;
}
.screen[screen-id='homeboard'] .screen-part[part-id='home'] .shedule-box .block .bottom-box .teacher {
    height: 1px; 
    line-height: 26px;
}
.screen[screen-id='homeboard'] .screen-part[part-id='home'] .shedule-box .block .combined {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.2px;
    flex-wrap: wrap;
    margin-top: 5px;
}
.screen[screen-id='homeboard'] .screen-part[part-id='menu'] .appinfo {
    display: flex;
    flex-direction: row;
    gap:20px;
    padding: 20px;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    background: #1C1C1E;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}
.screen-part[part-id='menu'] .appinfo .block {
    flex: 1;
}
.screen[screen-id='homeboard'] .screen-part[part-id='menu'] .appinfo .name {
    font-size: 24px;
    font-weight: 800;
}
.screen[screen-id='homeboard'] .screen-part[part-id='menu'] .appinfo .icon {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    outline: 1px solid rgba(255, 255, 255, 0.15);
    background: url(./../imgs/icon.png) no-repeat;
    background-size: cover;
}
.screen[screen-id='homeboard'] .screen-part[part-id='menu'] .appinfo .build {
    font-size: 14px;
    opacity: 0.5;
}
.screen[screen-id='homeboard'] .screen-part[part-id='menu'] .button {
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px; 
    border-radius: 100px;
    background: #1C1C1E;
    align-items: center ;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Nunito', sans-serif; 
    transition: 0.2s;
}
.screen[screen-id='homeboard'] .screen-part[part-id='menu'] .button:hover {
    background: rgba(255, 255, 255, .2);
    cursor: pointer;
}
.screen[screen-id='homeboard'] .screen-part[part-id='menu'] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.screen[screen-id='homeboard'] .screen-part[part-id='menu'] .button img {
    width: 30px;
    height: 30px;
}
.screen[screen-id='homeboard'] .screen-part[part-id='menu'] .button .name {
    flex: 1;
}