/*
 * ВГУ Расписание | Version 2.0
 * Build: [build_info]
 * Developer: @whoennrl
 * 
 * Site: https://whoennrl.ru
 */
 
.screen[screen-id='install-step-1'] {

    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    user-select: none;
    -webkit-user-select: none;
}
.screen[screen-id='install-step-1'] .center {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.screen[screen-id='install-step-1'] .center img.logo {
    width: 64px;
    height: 64px;
    border-radius: 15px;
    outline: 1px solid rgba(255, 255, 255, 0.15);
}
.screen[screen-id='install-step-1'] .center .title {
    font-size: 32px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}
.screen[screen-id='install-step-1'] .center .message {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 16px;
} 
.screen[screen-id='install-step-1'] .bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.screen[screen-id='install-step-1'] .bottom .box {
    background: rgb(28, 28, 30);
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.screen[screen-id='install-step-1'] .bottom .box .userBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.screen[screen-id='install-step-1'] .bottom .box .userBox .userPic {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    min-width: 60px;
    min-height: 60px;
    max-height: 60px;
    max-width: 60px;
    background: red;
}
.screen[screen-id='install-step-1'] .bottom .box .userBox .userText {
    display: flex;
    flex-direction: column;
}
.screen[screen-id='install-step-1'] .bottom .box .userBox .userText .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.screen[screen-id='install-step-1'] .bottom .box .userBox .userText .name .premium {
    width: 30px;
    height: 30px;
    background: rgb(0, 122, 255);
    mask-image: url(./../imgs/premium.png);
    mask-position: center;
    mask-size: 100%;
}
.screen[screen-id='install-step-1'] .bottom .box .button {
    background: rgb(0, 122, 255);
    color: white;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.screen[screen-id='install-step-1'] .bottom .box .button img {
    width: 20px;
    height: 20px;
}
.screen[screen-id='install-step-1'] .bottom .pretext {
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    font-size: 10px;
    text-align: center;
    opacity: 0.5;
}
.screen[screen-id='install-step-1'] .bottom .userBox .userText .name {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 24px;
}
.screen[screen-id='install-step-1'] .bottom .userBox .userText .username {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5)
}