:root {
    --padding-top: calc(var(--tg-safe-area-inset-top) + var(--tg-content-safe-area-inset-top) + 20px);
    --padding-bottom: calc(var(--tg-safe-area-inset-bottom) + var(--tg-content-safe-area-inset-bottom) + 20px);
    --padding-left: calc(var(--tg-safe-area-inset-left) + var(--tg-content-safe-area-inset-left) + 20px);
    --padding-right: calc(var(--tg-safe-area-inset-right) + var(--tg-content-safe-area-inset-right) + 20px);


    /* Colors */
    --color-background: rgb(0, 0, 0);
    --color-text-color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.root {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background: var(--color-background);
    color: var(--color-text-color);

    display: flex;
}
.hidden {
    display: none !important;
}