/*
 * VSU Shedule App | Version 2.0
 * Build: [build_info]
 * Developer: @whoennrl
 * 
 * Site: https://whoennrl.ru
 */

:root {
    --padding-top: calc(var(--tg-safe-area-inset-top) + var(--tg-content-safe-area-inset-top) + 20px);
    --padding-bottom: calc(var(--tg-safe-area-inset-bottom) + var(--tg-content-safe-area-inset-bottom) + 20px);
    --padding-left: calc(var(--tg-safe-area-inset-left) + var(--tg-content-safe-area-inset-left) + 20px);
    --padding-right: calc(var(--tg-safe-area-inset-right) + var(--tg-content-safe-area-inset-right) + 20px);


    /* Colors */
    --color-background: rgb(0, 0, 0);
    --color-text-color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.root {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background: var(--color-background);
    color: var(--color-text-color);

    display: flex;
}

@media screen and (min-width: 600px) {
    .root {
        width: 600px;
        left: calc(50% - 300px);
        border-left: 1px solid rgba(255, 255, 255, 0.15);
        border-right: 1px solid rgba(255, 255, 255, 0.15);
        padding-left: 20px;
        padding-right: 20px;
    }
    .root .screen[screen-id='homeboard'] .bottom {
        width: 598px;
        left: calc(50% - 299px);
    }

    body {
        background: var(--color-background);

    }
}

.hidden {
    display: none !important;
}